.roboto-16 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3E3E3E;
}

.rounded-20 {
    border-radius: 20px;
}

.custom-button {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #28527a;
    padding: 15px 20px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    border: 0;
    transition: background-color 0.2s ease-in-out;
}

.custom-button:hover {
    background-color: white;
    color: #28527a;
}

header, footer {
    background-color: #FFF9F4;
}

.nav-font {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.banner {
    padding-bottom: 8em;
}

.banner-font {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 1;
}

.category-header {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    line-height: 2em;
}

.bg-casual-shoe {
    background-color: #f1f1f1;
}

.custom-card {
    border: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
    transition: background-color 0.2s ease-in-out;
}

.card-footer {
    transition: background-color 0.2s ease-in-out;
}

.custom-card:hover {
    background-color: #fbeeac;
}

.custom-card:hover .card-footer {
    background-color: #fbeeac;
}

.custom-card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.5em;
}

.custom-card-footer {
    border: 0;
    background-color: white;
    margin-bottom: 1em;
}

.price-tag {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16pt;
}